{
  "env": {
    "commonjs": {
      "plugins": [],
      "presets": [
        "@babel/preset-env",
        "@babel/preset-react"
      ]
    },
    "development": {
      "plugins": [
        [
          "react-transform",
          {
            "transforms": [
              {
                "transform": "react-transform-hmr",
                "imports": [
                  "react"
                ],
                "locals": [
                  "module"
                ]
              },
              {
                "transform": "react-transform-catch-errors",
                "imports": [
                  "react",
                  "redbox-react"
                ]
              }
            ]
          }
        ]
      ],
      "presets": [
        "@babel/preset-env",
        "@babel/preset-react"
      ]
    },
    "es": {
      "plugins": [
        [
          "@babel/plugin-transform-runtime",
          {
            "corejs": 2
          }
        ]
      ],
      "presets": [
        "es2015-rollup",
        "@babel/preset-react"
      ]
    },
    "production": {
      "comments": false,
      "plugins": [
        [
          "@babel/plugin-transform-runtime",
          {
            "corejs": 2
          }
        ]
      ],
      "presets": [
        "@babel/preset-env",
        "@babel/preset-react"
      ]
    },
    "test": {
      "comments": false,
      "presets": [
        "@babel/preset-env",
        "@babel/preset-react"
      ]
    }
  }
}
